<!-- Deleted all HTML in here as it drops in master.html file -->

{% extends "master.html" %}

{% block title %}
  {{ student.first_name }} {{ student.last_name }}
{% endblock %}

{% block content %}

  {% if student %}
    <h1>{{ student.first_name }} {{ student.last_name }}</h1>
    <h3><strong>{{ student.points }} points</strong></h3>
  {% else %}
    <h1>All students</h1>
  {% endif %}

  <div class="mt-3">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn-small" type="submit" value="Award Points">
    </form>
  </div>

  <div class="buttons">
    <a class="btn" href="/students">Back to Students</a>
  </div>
  {% if student %}
  <div class="buttons">
    <a class="btn" href="/students/update_student/{{ student.id }}">Edit Student Details</a>
  </div>
  {% endif %}

{% endblock %}

<!-- have student_details where you can update details and seperate page for assigning points -->
