{% extends "master.html" %}

{% block title %}
  Houses
{% endblock %}

{% block content %}

  <h1>Houses</h1>

  <ul class="content">
    {% for x in houses %}
    <div class="house-points-card">
      <div class="house-points-card-inner">
        <img src="{{ x.logo_url }}" class="house-logo"/>
        <h3>{{ x.name }} <a href="update_house/{{ x.id }}"><i class="fa-solid fa-pen-to-square edit-button"></i></a></h3>
      </div>

    </div>
    {% endfor %}
  </ul>

  <div class="buttons">
    <a class="btn" href="/houses/create_house">Create House</a>
  </div>

{% endblock %}
