<header class="header">
  <!-- Logo -->
  <a href="/" class="logo"><img id="logo-img" src="https://www.four-forestschool.ch/uploads/images/layout/FF.jpg?1479821140478" /></a>
  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu"/>
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
  <!-- Menu -->
  <nav class="nav">
      <ul class="menu">
          <li><a href="/houses">Houses</a></li>
          <li><a href="/students">Students</a> </li>
          <!-- <li><a href="/admin">Admin</a></li> -->
      </ul>
  </nav>
</header>
