<!-- Deleted all HTML in here as it drops in master.html file -->

{% extends "master.html" %}

{% block title %}
  {{ student.first_name }} {{ student.last_name }}
{% endblock %}

{% block content %}

  <h1>{{ student.first_name }} {{ student.last_name }}</h1>

  <h3><strong>{{ student.points }} points</strong></h3>

  <!-- <div class="house-points-card">
    <div>
      <p>{{ student.house.logo }} {{ student.house }}</p>
      <p>{{ student.school_year }}</p>
    </div>
  </div> -->


  <!-- <form method="post" action="/award_points">
    <label for="points">Award points:</label>
    <input type="number" id="points" name="points" min="0" max="100">
    <input type="submit" value="Submit">
  </form> -->

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn-small" type="submit" value="Save Changes">
  </form>

  <div class="buttons">
    <a class="btn" href="/students">Back to Students</a>
  </div>
  <div class="buttons">
    <a class="btn" href="/students/delete_student/{{ student.id }}">Delete Student</a>
  </div>
  <hr>
  <div class="buttons">
    <a class="btn" href="/students/award_points/{{ student.id }}">Award Points</a>
  </div>

{% endblock %}
